# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
.nfs*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
*.egg-info/
dist/
build/

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj
*.Rhistory
*.RData
*.Ruserdata